@import '../base.css';
html * {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) #efefef;
  scrollbar-base-color: #efefef;
  scrollbar-face-color: var(--color-scrollbar);
  scrollbar3dlight-color: var(--color-scrollbar);
  scrollbar-highlight-color: var(--color-scrollbar);
  scrollbar-track-color: #efefef;
  scrollbar-arrow-color: var(--color-scrollbar);
  scrollbar-shadow-color: var(--color-scrollbar);
  scrollbar-dark-shadow-color: var(--color-scrollbar);
  &::-webkit-scrollbar-track {
    background-color: #efefef;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border: 1px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

#app {
  // min-width: 425px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  font-weight: normal;
  overflow-x: hidden;
  @media screen and (min-width: 600px) {
    padding: 2rem 1.5rem;
  }
}

@media (hover: hover) {
  a:hover {
    @apply text-white  bg-cyan-800/60;
  }
}
@page {
  size: A4 portrait;
  margin: 0.75rem;
}
header {
  line-height: 1.5;
  max-height: 100vh;
}

.main {
  color: #232129;
  padding-top: 0;
  // animation: book 1s linear 1;
  .full {
    margin: 0;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    position: relative;
    opacity: 1;
    z-index: 5;
    transform-style: preserve-3d;
  }
  .all-info {
    backface-visibility: hidden;
  }
}

@keyframes book {
  0% {
    transform: rotateY(180deg) translate(500px, 0);
  }
  10% {
    transform: rotateY(90deg) translate(500px, 0);
  }
  100% {
    transform: rotateY(0deg) translate(0, 0);
  }
}

@import './_common.scss';
