@import '../base.css';
html * {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) #efefef;
  scrollbar-base-color: #efefef;
  scrollbar-face-color: var(--color-scrollbar);
  scrollbar3dlight-color: var(--color-scrollbar);
  scrollbar-highlight-color: var(--color-scrollbar);
  scrollbar-track-color: #efefef;
  scrollbar-arrow-color: var(--color-scrollbar);
  scrollbar-shadow-color: var(--color-scrollbar);
  scrollbar-dark-shadow-color: var(--color-scrollbar);
  &::-webkit-scrollbar-track {
    background-color: #efefef;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border: 1px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

#app {
  min-width: 450px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-weight: normal;
  overflow-x: hidden;
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-white);
    background-color: var(--color-cyan-06);
  }
}
header {
  line-height: 1.5;
  max-height: 100vh;
}

.main {
  color: #232129;
  padding-top: 0;
  // animation: book 1s linear 1;
  .full {
    // min-height: 100vh;
    margin: 0;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    position: relative;
    opacity: 1;
    z-index: 5;
    transform-style: preserve-3d;
  }
  .all-info {
    backface-visibility: hidden;
  }
}

@keyframes book {
  0% {
    transform: rotateY(180deg) translate(500px, 0);
  }
  10% {
    transform: rotateY(90deg) translate(500px, 0);
  }
  100% {
    transform: rotateY(0deg) translate(0, 0);
  }
}
.header {
  // grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  margin-top: 0;
  .title {
    box-shadow: 0 0 0px 2px #ffffff;
    max-height: 12rem;
    &::before {
      background-color: #2a3944;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: -8px;
      bottom: -8px;
      border-radius: 0.5rem;
      z-index: -1;
      box-shadow: 0 0 4px 4px #2a3944;
    }
  }
}
